head
  title БАЙБАЙМЭН
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(name="HandheldFriendly" content="True")
  meta(http-equiv="cleartype" content="on")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  meta(name="description" content="Трое студентов колледжа сталкиваются со всемогущим злым духом по прозвищу «БайБайМэн». Героям необходимо найти способ спастись от мистического монстра, о котором нельзя никому рассказать, ведь он забирает любого, кто знает его имя или думает о нем.")
  meta(name="keywords" content="байбаймэн, Volga, Мистический хоррор, хоррорб, byebyeman")
  meta(name="author" content="Volga")
  meta(name="copyright" content="Volga")
  meta(http-equiv="Reply-to" content="magicilusha@gmail.com")
  <!-- Open Graph -->
  meta(property="og:site_name" content="byebyeman.ru")
  meta(property="og:title" content="БАЙБАЙМЭН")
  meta(property="og:description" content="Трое студентов колледжа сталкиваются со всемогущим злым духом по прозвищу «БайБайМэн». Героям необходимо найти способ спастись от мистического монстра, о котором нельзя никому рассказать, ведь он забирает любого, кто знает его имя или думает о нем.")
  meta(property="og:type" content="website")
  meta(property="og:url" content="byebyeman.ru")
  meta(property="og:image" content="img/poster.jpg")
  <!-- Twitter Card -->
  meta(name="twitter:card" content="app")
  meta(name="twitter:site" content="@")
  meta(name="twitter:description" content="")
  meta(name="twitter:app:country" content="")
  meta(name="twitter:app:name:iphone" content="")
  meta(name="twitter:app:id:iphone" content="")
  link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
  link(rel='stylesheet' type='text/css' href='css/app.css')
  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
