doctype html
html(lang="ru")
  include ./template/head.pug
  body
    include ./template/header.pug
  script(type="application/javascript", src="js/app.js")
  script
      include js/partials/analytics.js
